<div>
    <h1>ADMIN PANEL: USUARIOS</h1>
    {{#each users}}
        <div style="display: inline-block">
            <p id="{{this._id}}" class="userId">Nombre: {{this.first_name}} email: {{this.email}} Rol: {{this.role}}</p>
        </div>
        <div style="display: inline-block">
            <button data-userid="{{this._id}}" class="updateRole" onclick="updateRole(this)">Cambiar Rol</button>
            <button data-userid="{{this._id}}" class="deleteUser" onclick="deleteUser(this)">Eliminar usuario</button>
        </div>
            </br>
            </br>
    {{/each}}
        <button id="deleteInactiveUsers" class="deleteInactiveUsers" onclick="deleteInactiveUsers()">Delete inactive users</button>
    </br>
    </br>
    </br>
    </br>
    <a href='/auth/administracion'>Volver</a>
</div>


<script src="../public/js/adminpanel.js"></script>