<div class="row product justify-content-evenly">
  <div style="display: flex; justify-content: space-between; padding: 30px">
      <h1 id="{{cartId}}" class="cartInfo" style="padding-left: 30px; padding-top: 30px">
        MI CARRITO
        <p>CartId: {{cartId}}</p>
      <a style="font-size:medium" href="http://localhost:8080/products">Volver al listado</a>
    </h1>
  </div>
    {{#each cart}}
    <div class="card product__container" style="width: 14rem; margin-top: 5px;">
        <div style="margin-top: 10px; width:200px; height:200px;">
            <img src={{this.thumbnail}} class="card-img-top" alt="foto de Product {{this.id}}">
        </div>
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">$ {{this.price}}</p>
            <p class="card-text">Cantidad: {{this.quantity}}</p>
            <button onclick="removeFromCart('{{this.id}}')" class="btn btn-danger">Eliminar del carrito</button>
        </div>
    </div>
    {{/each}}
    <button onclick="finishPurchase()" class="btn btn-danger">FINALIZAR COMPRA</button>
</div>
<script src="/js/carts.js"></script>
