<div class="row product justify-content-evenly">
    <h1>LISTADO DE PRODUCTOS</h1>
    {{#each prods}}
    <div class="card product__container" style="width: 14rem; margin-top: 5px;">
        <div style="margin-top: 10px; width:200px; height:200px;">
            <img src={{this.thumbnail}} class="card-img-top" alt="foto de Product {{this.id}}">
        </div>
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">$ {{this.price}}</p>
        </div>
    </div>
    {{/each}}
</div>
<div style="display: flex; justify-content: center; margin-top: 100px">
  <div class="pagination">
    {{#if paginationInfo.hasPrevPage}}
    <a href="?page={{paginationInfo.prevPage}}">&lt; Anterior</a>
    {{/if}}
    <span style="margin-left: 20px; margin-right: 20px">Página {{paginationInfo.page}} de {{paginationInfo.totalPages}}</span>
    {{#if paginationInfo.hasNextPage}}
    <a href="?page={{paginationInfo.nextPage}}">Siguiente &gt;</a>
    {{/if}}
  </div>
</div>
