<div  id="">
    <form id="form" action="/api/products" method="post" enctype="multipart/form-data">
        <div class="form-group" style="margin-left: 20px;">
            <div class="row">
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese Título" value="" name="title" required></div>
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese Descripción" value="" name="description" required></div>
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese Categoría" value="" name="category" required></div>
                <input style="margin-top: 10px" type="hidden" class="form-control" value="true" name="status" required>
            </div>
            <div class="row">
                <div class="col"><input style="margin-top: 10px" type="code" class="form-control" placeholder="Ingrese Código" value="" name="code" required></div>
                <div class="col"><input style="margin-top: 10px" type="number" class="form-control" placeholder="Ingrese Precio" value="" name="price" required></div>
                <div class="col"><input style="margin-top: 10px" type="number" class="form-control" placeholder="Ingrese Stock" value="" name="stock" required></div>
            </div>
            <div class="row">
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese URL de la imagen"name="thumbnail" required></div>
            </div>
            <button style="margin-top: 10px" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
        </div>
    </form>
    <div style="display: flex; justify-content: space-between; padding: 30px">
        <h1>LISTADO DE PRODUCTOS</h1>
        <div> ORDENAR
            <a href="?page={{paginationInfo.page}}&limit={{paginationInfo.limit}}&sort=asc">&#8593;</a>
            <a href="?page={{paginationInfo.page}}&limit={{paginationInfo.limit}}&sort=desc">&#8595;</a>
        </div>
    </div>
    <div class="row product justify-content-evenly" id="productList">
        {{#each prods}}
        <div class="card product__container" style="width: 14rem; margin-top: 5px;">
            <div style="margin-top: 10px; width:200px; height:200px;">
                <img src={{this.thumbnail}} class="card-img-top" alt="foto de Product {{this.id}}">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{this.title}}</h3>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">$ {{this.price}}</p>
                <form class="delete-form" action="/api/products/{{this.id}}" method="delete">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="button" class="btn btn-danger delete-button" data-product-id="{{this.id}}">Eliminar</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div style="display: flex; justify-content: center; margin-top: 30px">
    <div class="pagination">
        {{#if paginationInfo.hasPrevPage}}
        <a href="?page={{paginationInfo.prevPage}}&limit={{paginationInfo.limit}}&sort={{sort}}">&lt; Anterior</a>
        {{/if}}
        <span style="margin-left: 20px; margin-right: 20px">Página {{paginationInfo.page}} de {{paginationInfo.totalPages}}</span>
        {{#if paginationInfo.hasNextPage}}
        <a href="?page={{paginationInfo.nextPage}}&limit={{paginationInfo.limit}}&sort={{sort}}">Siguiente &gt;</a>
        {{/if}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>